# Copyright (c) 2025 Jonatan Gezelius
# SPDX-License-Identifier: MIT

config CLOCK_CONTROL_SI5351
	bool "si5351 clock control driver"
	default y
	depends on DT_HAS_SKYWORKS_SI5351_ENABLED
	select I2C
	help
	  This option enables the clock driver for Skyworks si5351 programmable clock generator.

config CLOCK_CONTROL_SI5351_INIT_PRIORITY
	int "Init priority for SI5351 clock driver"
	default 60
	depends on CLOCK_CONTROL_SI5351
	help
	  Initialization priority for the SI5351 driver.
	  Must be higher than I2C init priority (usually 50)

config CLOCK_CONTROL_SI5351_DOUBLE_PRECISION
	bool "Use double instead of float for calculations"
	default n
	depends on CLOCK_CONTROL_SI5351
	help
	  This option makes for less errors when calculating the ratios, especially for high frequencies, but might impose a big speed penalty depending on underlaying hardware.

config CLOCK_CONTROL_SI5351_OVERRIDE_VCO_MIN_FREQUENCY
	bool "Override the datasheet specified minimum frequency"
	default n
	depends on CLOCK_CONTROL_SI5351
	help
	  The driver will use the lower limit specified in CLOCK_CONTROL_SI5351_VCO_MIN_FREQUENCY instead of the default specified for the part

config CLOCK_CONTROL_SI5351_VCO_MIN_FREQUENCY
	int "Frequency to use as VCO MIN in MHz"
	default 600
	depends on CLOCK_CONTROL_SI5351_OVERRIDE_VCO_MIN_FREQUENCY
	help
	  The lower limit the driver will allow the VCO frequency to be set to

config CLOCK_CONTROL_SI5351_OVERRIDE_VCO_MAX_FREQUENCY
	bool "Override the datasheet specified maximum frequency"
	default n
	depends on CLOCK_CONTROL_SI5351
	help
	  The driver will use the upper limit specified in CLOCK_CONTROL_SI5351_VCO_MAX_FREQUENCY instead of the default specified for the part

config CLOCK_CONTROL_SI5351_VCO_MAX_FREQUENCY
	int "Frequency to use as VCO MAX in MHz"
	default 900
	depends on CLOCK_CONTROL_SI5351_OVERRIDE_VCO_MAX_FREQUENCY
	help
	  The upper limit the driver will allow the VCO frequency to be set to